---
layout: archive
---

<p style="font-size: 0.85em">
	Welcome to the professional home page of Eric Suchyta!
	I'm a computer scientist in the <a href="https://www.ornl.gov/division/csmd/scientific-data" style="color:#52adc8">Scientific Data Group</a>
	at <a href="https://www.ornl.gov/" style="color:#52adc8">Oak Ridge National Laboratory</a>.
	Like others in the group, I'm a physicist by training, who has found myself tackling challanges in computing and data management 
	that impede progress in high performance scientific applications.
	I'm privileged to work with collaborators all around the globe and to have access to some of the best computing resources in the world.
</p>

<p style="font-size: 0.85em">
	I invite you to poke around these pages if you're interested in learning a little more about my career and the work that I do.
	You'll also find some personal tidbits thrown in, as I don't want to get too formal here.
	Please bear with me, as the contents of the website will continue to grow. 
	We're all busy people, and I will try to keep it as up to date as I can.
</p>


<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
